# Ignore files from Git #
#########################

.DS_Store
.Rproj.user
.Rhistory
*.RData
*Cache/
*figure/
*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.pdf
*.snm
*.gz
*.toc
*.tex
*.vrb
bits_io2006_rev5_2008/*
